torch
torchvision
diffusers
transformers
accelerate
datasets
safetensors
pillow
tqdm
wandb
gradio
huggingface-hub
omegaconf
albumentations==1.3.1
xformers  # Optional, comment out if causing issues
bitsandbytes
